{% extends 'GymApp/Layout.html' %}
{% block content %}
    <h1>Updating status</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="Name" value="{{ ClientUpdate.Name }}"><br><!-- Use the Client id, not the test form -->
            <input type="text" class="form-control" name="Surname" value="{{ ClientUpdate.Surname }}"><br>
            <select name="Gender" class="form-control">
                <option selected disabled>
                    Open this select menu
                </option>
                <option value="Male" value="{{ ClientUpdate.Gender }}">Male</option><br>
                <option value="Female" value="{{ ClientUpdate.Gender }}">Female</option>
            </select>
        </div>
        <div class="mb-3"> 
            <input type="text" class="form-control" id="Weight" value="{{ ClientUpdate.Weight }}" ><br><br>
            <input type="text" class="form-control" id="Height" value="{{ ClientUpdate.Height }}" ><br><br>
            <button type="button" onclick="calculation()">Calculation update</button>
            <br>
        </div>
        <br>
        <div class="mb-3">
            
            <input type="text" class="form-control"  name="Outcome" id="Outcome" placeholder="BMI Outcome"><br>
            <select name="Activity_log" class="form-control"><br>
                <option selected disabled>Open this select menu</option>
                <option value="Not Active">Not Active</option><br>
                <option value="Active">Active</option>
            </select>
            <br>
            <button type="submit">Finalising update!</button>
    </div>
    </form>
    <script>
        function calculation(){

            var W;
            var H;
            var O;

            W = document.getElementById('Weight').value;
            H = document.getElementById('Height').value;

            H = H / 100;

            O = W / (H * H);

            document.getElementById('Outcome').value = O.toFixed(2);
        }
    </script>
{% endblock %}
