{% extends 'GymApp/Layout.html' %}

{% block content %}
    <h1>Client Details</h1>
    <center>
      <table>
        <td>
          <a href="{% url 'Client_Update' ClientDetails.id %}" class="btn btn-primary">Updating</a><br>
        </td>
        <td>
          <a href="{% url 'Client_Delete' ClientDetails.id %}" onclick="Deleting()" class="btn btn-danger">Delete</a><br>
        </td>
      </table>
<br>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
          Clients Details
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <label>Client's Name: </label> {{ClientDetails.Name}}<br>
        </li>
          <li class="list-group-item">
            <label>Client's Surname: </label> {{ClientDetails.Surname}}<br>
        </li>
          <li class="list-group-item">
            <label>Client's Weight: </label> {{ClientDetails.Weight}}<br>
        </li>
          <li class="list-group-item">
            <label>Client's Height: </label> {{ClientDetails.Height}}<br>
        </li>
          <li class="list-group-item">
            <label>Client's BMI Outcome: </label> {{ClientDetails.Outcome}}<br>
        </li>
          <li class="list-group-item">
            <label>Client's Gender: </label> {{ClientDetails.Gender}}<br>
        </li>
          <li class="list-group-item">
            <label>Client's Activity status: </label> {{ClientDetails.Activity}}<br>
        </li>
        </ul>
      </div>
    </center>
    <script>
        function Deleting(){
            var Removing = confirm("Are you sure you want to remove {{ClientDetails}}?");
            if (Removing == false) {
                event.preventDefault();
            }
                }
    </script>

 
{% endblock %}
